.ip-answer {
  .ip-panel {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-delay: 0.4s;
    transition-timing-function: ease-in-out;
  }

  .ip-panel--answer-phase-2 {
    opacity: 1;
  }
}
