.ip-button {
  display: inline-block;
  background-color: #466486;
  color: @colour-white;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 11px 20px;
  font-size: 16px;
  outline: none;
  min-width: 150px;
  cursor: pointer;

  &.ip-disabled,
  &[disabled],
  &:disabled {
    pointer-events: none;
    opacity: 0.5;
    background-color: #736F82;
  }

  &:hover { background-color: lighten(#466486, 20%); }
}
