.ip-panel {
  position: relative;
  display: block;
  width: 100%;
  background-color: @colour-white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.2);
  padding: 25px;
  font-size: 14px;
  font-weight: @ip-font-weight--light;
  max-height: 432px;
  transition-property: max-height, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &.ip-active { transform: scale(1.05); }

  &.ip-panel--phase-2 {
    overflow: hidden;
    max-height: 116px;
    transition-duration: 0.6s;

    .ip-panel-image {
      left: 0;
      width: 65px;
    }

    .ip-panel-top-container { padding-left: 75px; }
    .ip-panel-bottom-container { opacity: 0; }
    .ip-panel-phase-2-content { opacity: 1; right: 0; }

    &:hover {
      cursor: default !important;
      transform: scale(1) !important;
    }
  }
}

.ip-panel--clickable {
  &, .ip-panel-input { cursor: pointer; }
  &:hover { transform: scale(1.05); }
}

.ip-panel-title {
  font-size: 20px;
  font-weight: @ip-font-weight--regular;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ip-panel-title--black {
  color: @colour-black;
  font-size: 32px;
}

.ip-panel-sub-title {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ip-panel-sub-title--black {
  color: @colour-black;
  font-size: 18px;
}

.ip-panel-image {
  width: 120px;
  position: absolute;
  left: ~"calc(50% - 60px)";
  transition-property: left, width;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

.ip-panel-top-container {
  position: relative;
  height: 130px;
}

.ip-panel-bottom-container {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

.ip-panel-phase-2-content {
  position: absolute;
  right: -50px;
  text-align: right;
  color: @colour-black;
  font-weight: @ip-font-weight--regular;
  opacity: 0;
  transition-property: opacity, right;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}

.ip-panel-phase-2-content-primary { font-size: 32px; }
.ip-panel-phase-2-content-secondary { font-size: 18px; }

.ip-panel-number { color: #B2C0CA; }

.ip-panel--middle {
  .ip-panel-phase-2-content { top: -10px; }
}
