html,
body,
#app {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: @ip-font-primary;
  -webkit-font-smoothing: antialiased;
  color: @colour-biscay;
  background-color: @colour-mischka;
  height: 100%;
}
