@media (max-width: 1000px) {
  .bc-flex-column--res {
    flex-direction: column;
  }

  .bc-work-feature-container {
    margin-right: 0;

    &:first-of-type { margin-bottom: 20px; }
  }

  .bc-mtn--res  { margin-top: 0 !important; }
  .bc-mtxs--res { margin-top: 2px !important; }
  .bc-mts--res  { margin-top: 5px !important; }
  .bc-mtm--res  { margin-top: 10px !important; }
  .bc-mtl--res  { margin-top: 20px !important; }
  .bc-mtxl--res { margin-top: 40px !important; }
  .bc-mbn--res  { margin-bottom: 0 !important; }
  .bc-mbxs--res { margin-bottom: 2px !important; }
  .bc-mbs--res  { margin-bottom: 5px !important; }
  .bc-mbm--res  { margin-bottom: 10px !important; }
  .bc-mbl--res  { margin-bottom: 20px !important; }
  .bc-mbxl--res { margin-bottom: 40px !important; }
  .bc-mln--res  { margin-left: 0 !important; }
  .bc-mlxs--res { margin-left: 2px !important; }
  .bc-mls--res  { margin-left: 5px !important; }
  .bc-mlm--res  { margin-left: 10px !important; }
  .bc-mll--res  { margin-left: 20px !important; }
  .bc-mlxl--res { margin-left: 40px !important; }
  .bc-mrn--res  { margin-right: 0 !important; }
  .bc-mrxs--res { margin-right: 2px !important; }
  .bc-mrs--res  { margin-right: 5px !important; }
  .bc-mrm--res  { margin-right: 10px !important; }
  .bc-mrl--res  { margin-right: 20px !important; }
  .bc-mrxl--res { margin-right: 40px !important; }
  .bc-man--res  { margin: 0 !important; }
  .bc-maxs--res { margin: 2px !important; }
  .bc-mas--res  { margin: 5px !important; }
  .bc-mam--res  { margin: 10px !important; }
  .bc-mal--res  { margin: 20px !important; }
  .bc-maxl--res { margin: 40px !important; }
  .bc-ptn--res  { padding-top: 0 !important; }
  .bc-ptxs--res { padding-top: 2px !important; }
  .bc-pts--res  { padding-top: 5px !important; }
  .bc-ptm--res  { padding-top: 10px !important; }
  .bc-ptl--res  { padding-top: 20px !important; }
  .bc-ptxl--res { padding-top: 40px !important; }
  .bc-pbn--res  { padding-bottom: 0 !important; }
  .bc-pbxs--res { padding-bottom: 2px !important; }
  .bc-pbs--res  { padding-bottom: 5px !important; }
  .bc-pbm--res  { padding-bottom: 10px !important; }
  .bc-pbl--res  { padding-bottom: 20px !important; }
  .bc-pbxl--res { padding-bottom: 40px !important; }
  .bc-pln--res  { padding-left: 0 !important; }
  .bc-plxs--res { padding-left: 2px !important; }
  .bc-pls--res  { padding-left: 5px !important; }
  .bc-plm--res  { padding-left: 10px !important; }
  .bc-pll--res  { padding-left: 20px !important; }
  .bc-plxl--res { padding-left: 40px !important; }
  .bc-prn--res  { padding-right: 0 !important; }
  .bc-prxs--res { padding-right: 2px !important; }
  .bc-prs--res  { padding-right: 5px !important; }
  .bc-prm--res  { padding-right: 10px !important; }
  .bc-prl--res  { padding-right: 20px !important; }
  .bc-prxl--res { padding-right: 40px !important; }
  .bc-pan--res  { padding: 0 !important; }
  .bc-paxs--res { padding: 2px !important; }
  .bc-pas--res  { padding: 5px !important; }
  .bc-pam--res  { padding: 10px !important; }
  .bc-pal--res  { padding: 20px !important; }
  .bc-paxl--res { padding: 40px !important; }
}
