.ip-mtn  { margin-top: 0 !important; }
.ip-mtxs { margin-top: 2px !important; }
.ip-mts  { margin-top: 5px !important; }
.ip-mtm  { margin-top: 10px !important; }
.ip-mtl  { margin-top: 20px !important; }
.ip-mtxl { margin-top: 40px !important; }
.ip-mbn  { margin-bottom: 0 !important; }
.ip-mbxs { margin-bottom: 2px !important; }
.ip-mbs  { margin-bottom: 5px !important; }
.ip-mbm  { margin-bottom: 10px !important; }
.ip-mbl  { margin-bottom: 20px !important; }
.ip-mbxl { margin-bottom: 40px !important; }
.ip-mln  { margin-left: 0 !important; }
.ip-mlxs { margin-left: 2px !important; }
.ip-mls  { margin-left: 5px !important; }
.ip-mlm  { margin-left: 10px !important; }
.ip-mll  { margin-left: 20px !important; }
.ip-mlxl { margin-left: 40px !important; }
.ip-mrn  { margin-right: 0 !important; }
.ip-mrxs { margin-right: 2px !important; }
.ip-mrs  { margin-right: 5px !important; }
.ip-mrm  { margin-right: 10px !important; }
.ip-mrl  { margin-right: 20px !important; }
.ip-mrxl { margin-right: 40px !important; }
.ip-man  { margin: 0 !important; }
.ip-maxs { margin: 2px !important; }
.ip-mas  { margin: 5px !important; }
.ip-mam  { margin: 10px !important; }
.ip-mal  { margin: 20px !important; }
.ip-maxl { margin: 40px !important; }
.ip-ptn  { padding-top: 0 !important; }
.ip-ptxs { padding-top: 2px !important; }
.ip-pts  { padding-top: 5px !important; }
.ip-ptm  { padding-top: 10px !important; }
.ip-ptl  { padding-top: 20px !important; }
.ip-ptxl { padding-top: 40px !important; }
.ip-pbn  { padding-bottom: 0 !important; }
.ip-pbxs { padding-bottom: 2px !important; }
.ip-pbs  { padding-bottom: 5px !important; }
.ip-pbm  { padding-bottom: 10px !important; }
.ip-pbl  { padding-bottom: 20px !important; }
.ip-pbxl { padding-bottom: 40px !important; }
.ip-pln  { padding-left: 0 !important; }
.ip-plxs { padding-left: 2px !important; }
.ip-pls  { padding-left: 5px !important; }
.ip-plm  { padding-left: 10px !important; }
.ip-pll  { padding-left: 20px !important; }
.ip-plxl { padding-left: 40px !important; }
.ip-prn  { padding-right: 0 !important; }
.ip-prxs { padding-right: 2px !important; }
.ip-prs  { padding-right: 5px !important; }
.ip-prm  { padding-right: 10px !important; }
.ip-prl  { padding-right: 20px !important; }
.ip-prxl { padding-right: 40px !important; }
.ip-pan  { padding: 0 !important; }
.ip-paxs { padding: 2px !important; }
.ip-pas  { padding: 5px !important; }
.ip-pam  { padding: 10px !important; }
.ip-pal  { padding: 20px !important; }
.ip-paxl { padding: 40px !important; }

.ip-hidden { display: none; }
.ip-relative { position: relative !important; }
.ip-full { width: 100% !important; }
.ip-full-h { height: 100% !important; }
.ip-height-a { height: auto !important; }
.ip-ib { display: inline-block !important; }
.ip-nowrap { white-space: nowrap; }
