@ip-font-weight--thin: 100;
@ip-font-weight--light: 300;
@ip-font-weight--regular: 400;
@ip-font-weight--bold: 700;
@ip-font-weight--ultra-bold: 900;

@ip-font-size--body-content: 14px;

@ip-font-lato: lato, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
@ip-font-primary: @ip-font-lato;
